@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: dark;
}

body {
  @apply bg-dark text-slate-100 antialiased;
}

a {
  @apply text-primary-400 transition-colors;
}

a:hover {
  @apply text-primary-200;
}
